# Default values for infra-nodes.
# This is a YAML-formatted file.
# Declare variables to be passed into your templates.
infraNodes:
  clusterSets:
    - hub
    - managed
  imageRegistry: 
    migrate: true
    remediationAction: enforce
  ingress: 
    migrate: true
    remediationAction: enforce
  monitoring: 
    migrate: true
    remediationAction: enforce
  gitops: 
    migrate: false
    remediationAction: enforce
    namespace: openshift-gitops
  zones:
    - us-east-2b
  externalIngress:
    clusterSets:
      - managed  
  dependencies: 
    install: "create-infra-nodes"
